@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.titre {
  font-family: "Roboto";
  font-weight: 100;
}

@keyframes price-moving {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
    right: 0px;
  }
}
@keyframes come-in {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-70px);
  }
}
@keyframes ok-180deg {
  0% {
    transform: rotateZ(158deg);
  }
  25% {
    transform: rotateZ(95deg);
    transform: scale(1.02);
  }
  50% {
    transform: rotateZ(45deg);
    transform: scale(1.52);
  }
  75% {
    transform: rotateZ(25deg);
    transform: scale(0.8);
  }
  100% {
    transform: rotateZ(1deg);
  }
}
@keyframes price-in {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-20px);
  }
}
.menu__desserts__titre, .menu__plats__titre, .menu__entrees__titre {
  font-family: "Roboto";
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
  width: 30px;
  padding: 0 10px 5px 0;
  margin: 10px;
}

footer .footer-layout__whataboutus .footer-layout__whataboutus__contact, footer .footer-layout__whataboutus .footer-layout__whataboutus__mentions-legales, footer .footer-layout__whataboutus .footer-layout__whataboutus__partenariat__thema, footer .footer-layout__whataboutus .footer-layout__whataboutus__partenariat__handshake, footer .footer-layout__whataboutus .footer-layout__whataboutus__restaurants .footer-layout__whataboutus__restaurants__thema, footer .footer-layout__whataboutus .footer-layout__whataboutus__restaurants .footer-layout__whataboutus__restaurants__ustensils, .footer-layout .footer-layout__whataboutus .footer-layout__whataboutus__contact, .footer-layout .footer-layout__whataboutus .footer-layout__whataboutus__mentions-legales, .footer-layout .footer-layout__whataboutus .footer-layout__whataboutus__partenariat__thema, .footer-layout .footer-layout__whataboutus .footer-layout__whataboutus__partenariat__handshake, .footer-layout .footer-layout__whataboutus .footer-layout__whataboutus__restaurants .footer-layout__whataboutus__restaurants__thema, .footer-layout .footer-layout__whataboutus .footer-layout__whataboutus__restaurants .footer-layout__whataboutus__restaurants__ustensils {
  margin: 10px 5px;
}

p {
  font-family: "Roboto";
  margin-left: 10px;
}

.loading-page {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
  min-width: 320px;
  height: 2000px;
  background: white;
  position: absolute;
  z-index: 2;
  transform: translateY(0px);
  animation: coming-page 4s ease-in-out both;
}
@keyframes coming-page {
  0% {
    opacity: 0;
    z-index: 1;
    position: absolute;
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
    transform: translateY(100px);
  }
}
.loading-page__spinner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  opacity: 0.81;
  flex: 90%;
  width: 80%;
  height: 500px;
  margin: 10px;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand";
  height: 25px;
  margin: 20px;
}
header #navigation-location {
  display: flex;
  background-color: #EAEAEA;
  justify-content: center;
  box-shadow: 0px 1px 12px 0 #7E7E7E;
  padding: 20px;
  z-index: 0;
}
header #navigation-location__icone {
  display: flex;
  position: relative;
  right: 20px;
}
header #navigation-location__city {
  flex: 1 1 20%;
  font-family: "Roboto";
  color: red;
}

.navigation__arrow {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 0 20px 0 0;
  background-color: red;
}

.tests-titre {
  display: flex;
}

.restaurants__groupe__article {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 2550px) {
  .restaurants__groupe__article {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    width: 70%;
    margin-left: 12%;
  }
}
.restaurants__groupe__article .restaurants__groupe__article__item {
  display: flex;
  flex: 1 1 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 20px;
}
@media screen and (min-width: 768px) and (max-width: 2550px) {
  .restaurants__groupe__article .restaurants__groupe__article__item {
    flex: 1 1 40%;
  }
}
.restaurants__groupe__article .restaurants__groupe__article__item .lien-restaurant {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
}
.restaurants__groupe__article .restaurants__groupe__article__item .lien-restaurant .lien-restaurant__article__image {
  display: flex;
  object-fit: cover;
  width: 100%;
  justify-content: center;
  height: 190px;
  border-radius: 20px 20px 0 0;
}
.restaurants__groupe__article .restaurants__groupe__article__item .lien-restaurant .lien-restaurant__article__etiquette {
  position: absolute;
  right: 15px;
  top: 15px;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  font-weight: 500;
  background-color: #99E2D0;
  color: #008766;
}
.restaurants__groupe__article .restaurants__groupe__article__item .lien-restaurant .lien-restaurant__article__description {
  display: flex;
  padding: 5px;
  flex: 1 1 100%;
  justify-content: space-between;
}
.restaurants__groupe__article .restaurants__groupe__article__item .lien-restaurant .lien-restaurant__article__description .lien-restaurant__article__description__texte {
  display: flex;
  flex-direction: column;
}
.restaurants__groupe__article .restaurants__groupe__article__item .lien-restaurant .lien-restaurant__article__description .lien-restaurant__article__description__texte .lien-restaurant__article__description__texte__nom {
  margin: 5px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
}
.restaurants__groupe__article .restaurants__groupe__article__item .lien-restaurant .lien-restaurant__article__description .lien-restaurant__article__description__texte .lien-restaurant__article__description__texte__ville {
  margin: 5px;
  font-size: 1rem;
  font-family: "Roboto";
}

.decouvertes-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F6F6;
}
@media screen and (min-width: 768px) and (max-width: 2550px) {
  .decouvertes-restaurants {
    width: 100%;
  }
}
.decouvertes-restaurants-titre {
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  margin: 10px;
  font-weight: 900;
  font-family: "Roboto";
}
.decouvertes-restaurants-accroche {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.fonctionnement-titre {
  display: flex;
  margin: 20px 0 10px 10px;
}
.fonctionnement .fonctionnement-groupe {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 2550px) {
  .fonctionnement .fonctionnement-groupe {
    flex-direction: row;
    justify-content: center;
  }
}
.fonctionnement .fonctionnement-groupe .fonctionnement-choix {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  border: 0px solid;
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 4px 4px #EAEAEA;
  position: relative;
}
.fonctionnement .fonctionnement-groupe .fonctionnement-choix-numero {
  display: flex;
  position: absolute;
  left: -14px;
  background-color: #9356DC;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}
.fonctionnement .fonctionnement-groupe .fonctionnement-choix-icône {
  display: flex;
  justify-content: center;
}
.fonctionnement .fonctionnement-groupe .fonctionnement-choix-icône-bloc {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .fonctionnement .fonctionnement-groupe .fonctionnement-choix-icône-bloc {
    margin: 10px 0 10px 25px;
  }
}
.fonctionnement .fonctionnement-groupe .fonctionnement-choix .fonctionnement-choix-instruction {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 20px 0;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F6F6;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 2550px) {
  .restaurants {
    flex: 1 1 40%;
  }
}
.restaurants-titre {
  margin: 20px 0 10px 20px;
}
@media screen and (min-width: 768px) and (max-width: 2550px) {
  .restaurants-titre {
    margin-left: 13%;
  }
}
.restaurants-article {
  display: flex;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 20px;
}
.restaurants-article-image {
  display: flex;
  justify-content: center;
  object-fit: cover;
  flex: 20%;
  border-radius: 20px 20px 0 0;
}
.restaurants-article-description {
  display: flex;
  padding: 5px;
  flex: 1 1 100%;
  justify-content: space-between;
}
.restaurants-article-description-texte .resto-nom {
  margin: 5px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
}
.restaurants-article-description-texte .resto-ville {
  margin: 5px;
  font-size: 1rem;
  font-family: "Roboto";
}

.text {
  font-family: "Roboto";
  font-weight: 900;
}

.titre {
  font-family: "Shrikhand";
  font-weight: 100;
}

a {
  color: black;
  text-decoration: none;
}

body {
  display: flex;
  min-width: 320px;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

* {
  font-family: "Roboto", "Courier New", Courier, monospace;
}

.icone-color {
  color: #9356DC;
  display: flex;
  justify-content: center;
  position: relative;
  right: 8px;
  margin: 0px 2px 0 0;
}

.heart {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  right: 10px;
  font-size: 25px;
}

.testaurants-article-description-like {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  right: 10px;
  font-size: 25px;
}
.testaurants-article-description-like #here {
  display: flex;
  background-color: red;
}
.testaurants-article-description-like .empty {
  display: flex;
}
.testaurants-article-description-like .empty:hover {
  display: none;
}
.testaurants-article-description-like .empty:hover + .full {
  display: flex;
}
.testaurants-article-description-like .full {
  display: none;
  color: #9356DC;
  background: linear-gradient(180deg, rgb(162, 91, 220) 5%, rgb(229, 113, 219) 95%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__entrees {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.menu__entrees__choix {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 2px 5px 5px #EAEAEA;
  overflow: hidden;
}
.menu__entrees__choix:hover {
  cursor: grab;
}
.menu__entrees__choix:hover > .entrees__choix__valide-ok {
  display: flex;
  animation: come-in 2s ease-in-out 500ms 1 alternate both;
}
.menu__entrees__choix:hover > .entrees__choix__prix {
  animation: price-in 2s ease-in-out 500ms 1 alternate both;
}
.menu__entrees__choix .entrees__choix__description {
  display: flex;
  flex-direction: column;
  flex: 70%;
  padding: 0 5px;
  overflow: hidden;
}
.menu__entrees__choix .entrees__choix__description__nom {
  font-family: "Shrikhand";
  margin: 5px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__entrees__choix .entrees__choix__description__accompagnement {
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__entrees__choix .entrees__choix__prix {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 5px 20px;
  font-weight: 900;
  position: relative;
  right: -10px;
  transform: scale(1, 1);
}
.menu__entrees__choix .entrees__choix__valide-ok {
  background-color: #99E2D0;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  padding: 10px;
  margin: -5px;
  border-radius: 0 20px 20px 0px;
  position: relative;
  right: -71px;
  transform: scale(1, 1.02);
  animation-fill-mode: both;
}
.menu__entrees__choix .entrees__choix__valide-ok:hover {
  transition: all 1s cubic-bezier(0.7, 0.3, 0.5, 1.35);
  transform: translateX(0px);
}
.menu__entrees__choix .entrees__choix__valide-ok:active > .ok-font {
  animation: ok-180deg 4s ease-in-out 0 alternate both;
  animation-name: ok-180deg;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
.menu__entrees__choix .entrees__choix__valide-ok .ok-font {
  transform: rotateZ(0deg);
}

.menu__plats {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.menu__plats__choix {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 2px 5px 5px #EAEAEA;
  overflow: hidden;
}
.menu__plats__choix:hover {
  cursor: grab;
}
.menu__plats__choix:hover > .plats__choix__valide-ok {
  display: flex;
  animation-name: come-in;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.menu__plats__choix:hover > .plats__choix__prix {
  animation-name: price-in;
  animation-duration: 2000ms;
  animation-fill-mode: both;
  animation-delay: 500ms;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.menu__plats__choix .plats__choix__description {
  display: flex;
  flex-direction: column;
  flex: 70%;
  padding: 0 5px;
  overflow: hidden;
}
.menu__plats__choix .plats__choix__description__nom {
  font-family: "Shrikhand";
  margin: 5px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plats__choix .plats__choix__description__accompagnement {
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plats__choix .plats__choix__prix {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 5px 20px;
  font-weight: 900;
}
.menu__plats__choix .plats__choix__valide-ok {
  background-color: #99E2D0;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  padding: 10px;
  margin: -5px;
  border-radius: 0 20px 20px 0px;
  position: relative;
  right: -71px;
  transform: scale(1, 1.02);
  animation-fill-mode: both;
}
.menu__plats__choix .plats__choix__valide-ok:hover {
  transition: all 1s cubic-bezier(0.7, 0.3, 0.5, 1.35);
  transform: translateX(0px);
}
.menu__plats__choix .plats__choix__valide-ok:active > .ok-font {
  animation: ok-180deg 4s ease-in-out 0 alternate both;
  animation-name: ok-180deg;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
.menu__plats__choix .plats__choix__valide-ok .ok-font {
  transform: rotateZ(0deg);
}

.menu__desserts {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.menu__desserts__choix {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 2px 5px 5px #EAEAEA;
  overflow: hidden;
}
.menu__desserts__choix:hover {
  cursor: grab;
}
.menu__desserts__choix:hover > .desserts__choix__valide-ok {
  display: flex;
  animation-name: come-in;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.menu__desserts__choix .desserts__choix__description {
  display: flex;
  flex-direction: column;
  flex: 70%;
  padding: 0 5px;
  overflow: hidden;
}
.menu__desserts__choix .desserts__choix__description__nom {
  font-family: "Shrikhand";
  margin: 5px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__desserts__choix .desserts__choix__description__accompagnement {
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__desserts__choix .desserts__choix__prix {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 5px 20px;
  font-weight: 900;
}
.menu__desserts__choix .desserts__choix__valide-ok {
  background-color: #99E2D0;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  padding: 10px;
  margin: -5px;
  border-radius: 0 20px 20px 0px;
  position: relative;
  right: -71px;
  transform: scale(1, 1.02);
  animation-fill-mode: both;
}
.menu__desserts__choix .desserts__choix__valide-ok:hover {
  transition: all 1s cubic-bezier(0.7, 0.3, 0.5, 1.35);
  transform: translateX(0px);
}
.menu__desserts__choix .desserts__choix__valide-ok:active > .ok-font {
  animation: ok-180deg 4s ease-in-out 0 alternate both;
  animation-name: ok-180deg;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
.menu__desserts__choix .desserts__choix__valide-ok .ok-font {
  transform: rotateZ(0deg);
}
.menu__desserts__choix:hover > .desserts__choix__prix {
  animation-name: price-in;
  animation-duration: 2000ms;
  animation-fill-mode: both;
  animation-delay: 500ms;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.common-bouton {
  display: flex;
  justify-content: center;
}
.common-bouton .bouton {
  border: 0;
  color: white;
  font-family: "Roboto";
  text-align: center;
  padding: 20px 40px;
  margin: 20px;
  font-size: 1rem;
  box-shadow: 0px 4px 10px -2px grey;
  border-radius: 30px;
}
.common-bouton .bouton a {
  color: white;
  text-decoration: none;
}
.common-bouton .bouton--color {
  background: linear-gradient(0deg, #9356DC, transparent);
  background-color: #FF79DA;
}
.common-bouton .bouton--color:hover {
  background-color: #ff93e1;
}

.footer-layout {
  color: white;
  padding: 10px 20px;
  background-color: #393939;
}
@media (min-width: 768px) and (max-width: 2550px) {
  .footer-layout {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    align-items: center;
  }
}
.footer-layout__logo {
  font-family: "Shrikhand";
  font-size: 1rem;
}
@media (min-width: 768px) and (max-width: 2550px) {
  .footer-layout__logo {
    margin: 20px 20px 0px 20px;
  }
}
.footer-layout .footer-layout__whataboutus {
  display: flex;
  flex-direction: column;
  margin: 20px 10px 0px 0;
}
@media (min-width: 768px) and (max-width: 2550px) {
  .footer-layout .footer-layout__whataboutus {
    flex-direction: row;
    margin: 20px 40px 0px 0;
  }
}
.footer-layout .footer-layout__whataboutus .footer-layout__whataboutus__restaurants {
  display: flex;
  align-items: center;
}
.footer-layout .footer-layout__whataboutus .footer-layout__whataboutus__partenariat {
  display: flex;
  align-items: center;
  margin: 5px 5px 5px 0px;
}
.footer-layout .footer-logo, .footer-layout .footer-restaurants, .footer-layout .footer-partenariat, .footer-layout .mentions-legales, .footer-layout .contact {
  display: flex;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
}
body main {
  display: flex;
  flex-direction: column;
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 2550px) {
  body main {
    align-items: center;
    justify-content: center;
  }
}

.header-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 10px;
}
.header-layout__navigation {
  display: flex;
  flex-direction: row;
}
.header-layout__navigation__arrow {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 0 20px 0 0;
  position: absolute;
  top: 10px;
  left: 0px;
}
.header-layout__navigation__logo {
  display: flex;
  flex-direction: row;
  padding: 5px 35px;
  height: 25px;
}

.main__photo {
  display: flex;
  justify-content: center;
  margin: 0;
}
.main__photo__image {
  display: flex;
  object-fit: cover;
  width: 100%;
}

.menu {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  top: -40px;
  border-radius: 35px 35px 0 0;
  margin-bottom: -40px;
}
@media screen and (min-width: 768px) and (max-width: 2550px) {
  .menu {
    width: 65%;
  }
}
.menu__intro {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}
@media screen and (min-width: 768px) and (max-width: 2550px) {
  .menu__intro {
    justify-content: center;
  }
}
.menu__intro__titre {
  font-family: "Shrikhand";
  font-weight: 100;
  font-size: 20px;
  margin: 10px;
}
.menu__intro__like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  padding: 20px;
  font-size: 20px;
}
.menu__intro__like .empty:active {
  display: none;
}
.menu__intro__like .empty:active + .full {
  display: flex;
}
.menu__intro__like .full {
  display: none;
  color: #9356DC;
  background: linear-gradient(180deg, rgb(162, 91, 220) 5%, rgb(229, 113, 219) 95%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  color: white;
  padding: 10px;
  background-color: #393939;
}
@media (min-width: 768px) and (max-width: 2550px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    align-items: center;
  }
}
footer .footer-logo {
  font-family: "Shrikhand";
  font-size: 1rem;
}
@media (min-width: 768px) and (max-width: 2550px) {
  footer .footer-logo {
    margin: 20px 20px 0px 20px;
  }
}
footer .footer-layout__whataboutus {
  display: flex;
  flex-direction: column;
  margin: 20px 10px 0px 0;
}
@media (min-width: 768px) and (max-width: 2550px) {
  footer .footer-layout__whataboutus {
    flex-direction: row;
    margin: 20px 40px 0px 0;
  }
}
footer .footer-layout__whataboutus .footer-layout__whataboutus__restaurants {
  display: flex;
  align-items: center;
}
footer .footer-layout__whataboutus .footer-layout__whataboutus__partenariat {
  display: flex;
  align-items: center;
  margin: 5px 5px 5px 0px;
}
footer .footer-logo, footer .footer-restaurants, footer .footer-partenariat, footer .mentions-legales, footer .contact {
  display: flex;
  align-items: center;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*# sourceMappingURL=style.css.map */
