

@mixin mixed-colors {
    background: linear-gradient(0deg, $primary-color, transparent);
    background-color: $secondary-color;
    &:hover {
        background-color: lighten($secondary-color, 5%);
        box-shadow: 0 10px 10px -1px darken(grey, 15%);
    // Le boxshadow darken sera mise au :clic plus tard
    }
}

@mixin les-titres {
    font-family: $font-text;
    font-weight: 100;
}
.titre {
    @include les-titres;
}

@mixin test {
    .tests-titre {
        display: flex;
    }

    .restaurants__groupe__article {
        display: flex;
        flex-direction: column;
   
        @media screen and (min-width:768px) and (max-width:2550px) {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 10px auto;            
            width: 80%;
            // margin-left: 12%;
        }                
        .restaurants__groupe__article__item {
            display: flex;
            flex: 1 1 100%;
            background-color: white;
            flex-direction: column;
            margin: 20px;
            border-radius: 20px;   
            @media screen and (min-width:768px) and (max-width:2550px) {
                flex: 1 1 40%;
            }     
            .lien-restaurant {
                background-color: transparent;
                display: flex;
                flex-direction: column;                
                position: relative;
                .lien-restaurant__article__image {
                    display: flex;
                    object-fit: cover;
                    width: 100%;                    
                    justify-content: center;
                    height: 190px;
                    border-radius: 20px 20px 0 0;
                }
                .lien-restaurant__article__etiquette {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    align-items: center;
                    padding: 8px;
                    border-radius: 4px;
                    font-weight: 500;
                    background-color: $thirth-color;
                    color: $color-text-pop-up;

                }
                .lien-restaurant__article__description {
                    display: flex;
                    padding: 5px;
                    flex: 1 1 100%;
                    justify-content: space-between;
                    .lien-restaurant__article__description__texte {
                        display: flex;
                        flex-direction: column;
                    .lien-restaurant__article__description__texte__nom {                    
                        margin: 5px;
                        font-family: "Roboto";
                        font-weight: 900;
                        font-size: 20px;                     
                    }     
                    .lien-restaurant__article__description__texte__ville {                    
                        margin: 5px;
                        font-size: 1rem;
                        font-family: "Roboto";      
                    } 
                }
            }
        }
    }
}
}

@mixin decouverte-restaurants-section {
    .decouvertes-restaurants {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $background-color-box;
        @media screen and (min-width:768px) and (max-width:2550px) {
            width: 100%;
        }
        &-titre {
            display: flex;
            justify-content: center;
            font-size: 2em;
            text-align: center;
            margin: 10px;
            // font-weight: 900;
            font-family: $font-text;
        }
        &-accroche {
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 10px;
        }
    }
}

@mixin features-section {
    .fonctionnement {
        @media screen and (min-width:768px) and (max-width:2550px) {            
            //     width: 75%;
            //     justify-content: space-between;            
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            width: 80%;

        }
        @media screen and (min-width:320px) and (max-width:768px) { 
        // color: red;
        justify-content: center;
        flex-direction: column;
                }
        &-titre {
            display: flex; 
            // margin-left: 13%; 
            margin: 20px 0 10px 10px;        
        }
        .fonctionnement-groupe {
            display: flex;
            flex-direction: column;
            @media screen and (min-width:768px) and (max-width:2550px) {
                flex-direction: row;
                justify-content: center;
                // width: 85%;
            }
            .fonctionnement-choix {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1 1 100%;
                border: 0px solid;
                margin: 15px;
                padding: 5px;
                border-radius: 15px;
                background-color: $background-color-box;
                box-shadow: 0 4px 4px 4px $background-color-nav;
                position: relative;
                &-numero {
                    display: flex;
                    position: absolute;
                    left: -14px;
                    background-color: $primary-color;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 20px;
                }
                #fct-1 {
                    @media screen and (min-width:320px) and (max-width:768px) {
                    .fonctionnement-choix-icône-bloc i {
                        color: $primary-color;
                    }
                    }
                }
                #fct-2 {
                    @media screen and (min-width:320px) and (max-width:768px) {
                        .fonctionnement-choix-icône-bloc i {
                            color: $primary-color;
                        }
                    }
                }
                &-icône {
                    // background-color: red;
                    display: flex;
                    justify-content: center;
                    &-bloc {
                        display: flex;
                        flex-direction: row;
                        @media screen and (min-width:768px) {
                            margin: 10px 0 10px 25px;
                        }
                    }
                }
                .fonctionnement-choix-instruction {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    font-weight: bold;
                    margin: 20px 0;
                }
            }
        }        
    }

}
@mixin restaurants-section {
    .restaurants {
        display: flex;
        flex-direction: column;
        justify-content: center;     
        background-color: $background-color-box;
        width: 100%;
        @media screen and (min-width:768px) and (max-width:2550px) {
            flex: 1 1 40%;
        }
        &-titre {
                margin: 20px 0 10px 20px;
                @media screen and (min-width:768px) and (max-width:2550px) {
                    margin-left: 11%;
                    // ci dessous a mettre 16% en attendant 
                }
        }

        &-article {
            display: flex;
           background-color:white;
           display: flex;
           flex-direction: column;
           margin: 10px;
           border-radius: 20px;
           &-image {
            display: flex;
            justify-content: center;
            object-fit: cover;
            flex: 20%;
            border-radius: 20px 20px 0 0 ;
           }
           &-description {
            display: flex;
            padding: 5px;
            flex: 1 1 100%;
            justify-content: space-between;
            &-texte {
                .resto-nom {
                    margin: 5px;
                    font-family: $font-text;
                    font-weight: 900;
                    font-size: 20px;               
                }
                .resto-ville {
                    margin: 5px;
                    font-size: 1rem;
                    font-family: $font-text;
                    
                }
            }

           }
        }
        
    }
}

// bientot a effacer ci dessous
@mixin price-moves {
    position: relative;
    right: -10px;
    transform: scale(1, 1);    
}

@keyframes price-moving {
    0% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
        right: 0px;

    }
}
@mixin case-validation-composition {
    background-color: $thirth-color;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 10px;
    margin: -5px;
    border-radius: 0 20px 20px 0px;
    position: relative;
    right: -71px;
    transform: scale(1, 1.02) ;

    &:hover {
        transition: all 1s cubic-bezier(0.70, 0.30, 0.50, 1.35);
        transform: translateX(0px);
    }

    &:hover > .ok-font {
        // transition: ok-180deg 4s ease-in-out 0 alternate both;
        animation: ok-180deg 4s ease-in-out 0 alternate both;
        animation-name: ok-180deg;
        animation-duration: 1500ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count:1;
        animation-direction: alternate;
       animation-fill-mode: both;
    }
    .ok-font {
        transform: rotateZ(0deg);
        animation: ok-no-180deg 4s ease-in-out 0 alternate both;
        transition: transform 0.5s ease-in-out;
    }

}

@keyframes come-in {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-70px);
    }
  }
          @keyframes come-out {
            0% {
              transform: translateX(-70px);
            }
            100% {
              transform: translateX(0px);
            }
          }

         @keyframes price-in {
            0% {
              transform: translateX(50px);
            }
            100% {
              transform: translateX(-20px);
            }
          }          
          @keyframes price-out {
            0% {
              transform: translateX(-20px);
            }
            100% {
              transform: translateX(50px);
            }
          }
       
        @keyframes ok-180deg {
            0% {                
                transform: rotateZ(158deg);
            }
            25% {
                transform: rotateZ(95deg);
                transform: scale(1.02);               
            }
            50% {
                transform: rotateZ(45deg);
                transform: scale(1.52);
            }
            75% {
                transform: rotateZ(25deg);
                transform: scale(0.80);                
            }
            100% {
                transform: rotateZ(1deg);                
            }
        }

        @keyframes no-ok-moins-180deg {
            0% {
                transform: rotateZ(1deg);
            }
            25% {
                                transform: rotateZ(25deg);
                transform: scale(0.80); 
            }
            50% {
                                transform: rotateZ(45deg);
                transform: scale(1.52);
            }
            75% {
                transform: rotateZ(95deg);
                transform: scale(1.02);
            }
            100% {
                transform: rotateZ(158deg);
            }
        }

        //////////// ICi les keyframes de page de telechargement
        /// 
        @mixin page-climb {
            @keyframes page-climb {
                0% {
                    display: flex;
                    opacity: 1;
                    z-index: 1;
                    position: absolute;
                    transform: translateY(50px);
                }
                // 10% {
                //     opacity: 1;
                // }
                // 40% {
                //     opacity: 1;
                //     transform: translateY(0px);
                // }
                65% {
                    opacity: 1;
                }
                98% {
                    opacity: 0;
                    z-index: 1;
                    transform: translateY(350px);

                }
                100% {
                    display: none;
                }
            }
        }

        @mixin rotation-loading {
            @keyframes rotation-loading {
                0% {
                    opacity: 0;
                    transform: rotateY(0deg);
                }
                10% {
                    opacity: 1;
                }
                60% {
                    opacity: 0;
                    transform: rotateY(360deg);
                }
                100% {
                    opacity: 0;
                    transform: rotateY(0deg);
                    color: $primary-color;
                }
            }
        }
