

@mixin mixed-colors {
    background: linear-gradient($secondary-color, $primary-color);
}

// @mixin les-textes {}

@mixin les-titres {
    // les textes plutôt

    font-family: $font-text;
    font-weight: 100;
}
.titre {
    @include les-titres;
}

@mixin test {
    .tests-titre {
        display: flex;
    }



    .restaurants__groupe__article {
        display: flex;
        flex-direction: column;
   
        @media screen and (min-width:768px) and (max-width:2550px) {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 10px;            
            width: 70%;
            margin-left: 12%;
        }                
        .restaurants__groupe__article__item {
            display: flex;
            flex: 1 1 100%;
            background-color: white;
            display: flex;
            flex-direction: column;
            margin: 10px;
            border-radius: 20px;   
            @media screen and (min-width:768px) and (max-width:2550px) {
                flex: 1 1 40%;
            }     
            a {
                background-color: transparent;
                display: flex;
                flex-direction: column;                
                position: relative;
                .tests-article-image {
                    display: flex;
                    object-fit: cover;
                    width: 100%;                    
                    justify-content: center;
                    height: 190px;
                    border-radius: 20px 20px 0 0;
                }

                .etiquette {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    align-items: center;
                    padding: 8px;
                    border-radius: 4px;
                    font-weight: 500;
                    background-color: $thirth-color;
                    color: $color-text-pop-up;

                }
                .tests-article-new-pop {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    background-color: $thirth-color;
                    color: $color-text-pop-up;
                    z-index: 1;
                    position: absolute;
                    right: 30px;
                    bottom: 70px;
                }
                .tests-article-description {
                    display: flex;
                    padding: 5px;
                    flex: 1 1 100%;
                    justify-content: space-between;
                    &-texte {
                        // margin: 5px;
                        // font-family: "Roboto";
                        // font-weight: 900;
                        // font-size: 20px;
                        display: flex;
                        flex-direction: column;
                    .testo-nom {                    
                        margin: 5px;
                        font-family: "Roboto";
                        font-weight: 900;
                        font-size: 20px;                     
                    }     
                    .testo-ville {                    
                        margin: 5px;
                        font-size: 1rem;
                        font-family: "Roboto";      
                    } 
                }
            }
        }
    }
}


}

@mixin decouverte-restaurants-section {
    .decouvertes-restaurants {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $background-color-box;
        @media screen and (min-width:768px) and (max-width:2550px) {
            width: 100%;
        }
        &-titre {
            display: flex;
            justify-content: center;
            font-size: 2em;
            text-align: center;
            margin: 10px;
            font-weight: 900;
            font-family: $font-text;
        }
        &-accroche {
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 10px;
        }
    }
}

@mixin features-section {
    .fonctionnement {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        // @media screen and (min-width:768px) and (max-width:2550px) {
        //     width: 75%;
        //     justify-content: space-between;
        // }
        &-titre {
            display: flex; 
            // margin-left: 13%; 
            margin: 20px 0 10px 10px;        
        }
        .fonctionnement-groupe {
            display: flex;
            flex-direction: column;
            @media screen and (min-width:768px) and (max-width:2550px) {
                flex-direction: row;
                justify-content: center;
                // width: 85%;
            }
            .fonctionnement-choix {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1 1 100%;
                border: 0px solid;
                margin: 10px;
                padding: 5px;
                border-radius: 15px;
                background-color: $background-color-box;
                box-shadow: 0 4px 4px 4px $background-color-nav;
                position: relative;
                &-numero {
                    display: flex;
                    position: absolute;
                    left: -14px;
                    background-color: $primary-color;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 20px;
                }
                &-icône {
                    // background-color: red;
                    display: flex;
                    justify-content: center;
                    &-bloc {
                        display: flex;
                        flex-direction: row;
                        @media screen and (min-width:768px) {
                            margin: 10px 0 10px 25px;
                        }
                    }
                }
                .fonctionnement-choix-instruction {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin: 20px 0;
                }
            }
        }        
    }


}
@mixin restaurants-section {
    .restaurants {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin: 10px;        
        background-color: $background-color-box;
        width: 100%;
        @media screen and (min-width:768px) and (max-width:2550px) {
            flex: 1 1 40%;
        }
        &-titre {
                margin: 20px 0 10px 20px;
                @media screen and (min-width:768px) and (max-width:2550px) {
                    margin-left: 13%;
                }
        }

        &-article {
            display: flex;
           background-color:white;
           display: flex;
           flex-direction: column;
           margin: 10px;
           border-radius: 20px;
           &-image {
            display: flex;
            justify-content: center;
            object-fit: cover;
            flex: 20%;
            border-radius: 20px 20px 0 0 ;
           }
           &-description {
            display: flex;
            padding: 5px;
            flex: 1 1 100%;
            justify-content: space-between;
            &-texte {
                .resto-nom {
                    margin: 5px;
                    font-family: $font-text;
                    font-weight: 900;
                    font-size: 20px;
                    // background-color: red;                    
                }
                .resto-ville {
                    margin: 5px;
                    font-size: 1rem;
                    font-family: $font-text;
                    
                }
            }

           }
        }
        
    }
}

@mixin heart__layout {
    
}

@mixin case-validation-composition {
    
    background-color: $thirth-color;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 10px;
    margin: -5px;
    border-radius: 0 20px 20px 0px;

    position: relative;
    right: -71px;
    transform: scale(1, 1.02) ;
    &:hover {
        transition: all 1s cubic-bezier(0.70, 0.30, 0.50, 1.35);
        transform: translateX(0px);
        // background-color: red;
        // animation-name: come-in;
        // animation-duration: 1500ms;
    }

    &:active > .ok-font {
        transition: ok-180deg 4s ease-in-out 0 alternate both;
        animation-name: ok-180deg;
        animation-duration: 1500ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count:1;
        animation-direction: alternate;
    }   animation-fill-mode: both;
    .ok-font {
        transform: rotateZ(120deg);

    }

}

    @keyframes come-in {
        0% {
            transform: translateX(10px);
        }
        25% {
            transform: translateX(-11px);          
        }
        
        50% {
            transform: translateX(-5px);            
        }
        75% {
            transform: translateX(5px);
            transform: scaleX(1.02);
        }
        80% {
            transform: translateX(0px);
            transform: scaleX(1);
        }
        100% {
            transform: translateX(0px);
            right: 0px;

        }
    }

        @keyframes ok-180deg {
            0% {                
                transform: rotateZ(158deg);
            }
            25% {
                transform: rotateZ(95deg);
                transform: scale(1.02);               
            }
            50% {
                transform: rotateZ(45deg);
                transform: scale(1.52);
            }
            75% {
                transform: rotateZ(25deg);
                transform: scale(0.80);                
            }
            100% {
                transform: rotateZ(1deg);                
            }
        }