
@mixin mixed-colors {
    background: linear-gradient($secondary-color, $primary-color);
}

// @mixin les-textes {}

@mixin les-titres {
    // les textes plutôt

    font-family: $font-text;
    font-weight: 100;
}
.titre {
    @include les-titres;
}

@mixin test {
    .tests-titre {
        display: flex;
    }
    .tests-article {
        display: flex;
        flex: 1 1 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 10px;
        border-radius: 20px;        
        a {
            background-color: transparent;
            display: flex;
            flex-direction: column;
            .tests-article-image {
                display: flex;
                object-fit: cover;
                width: 100%;

                justify-content: center;
                // flex: 20%;
                height: 190px;
                border-radius: 20px 20px 0 0;
            }
            .tests-article-new-pop {
                background-color: $thirth-color;
                color: $color-text-pop-up;
                z-index: 1;
                position: absolute;
                right: 30px;
                bottom: 70px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .tests-article-description {
                display: flex;
                padding: 5px;
                flex: 1 1 100%;
                justify-content: space-between;
                &-texte {
                    // margin: 5px;
                    // font-family: "Roboto";
                    // font-weight: 900;
                    // font-size: 20px;
                    display: flex;
                    flex-direction: column;
                   .testo-nom {                    
                        margin: 5px;
                        font-family: "Roboto";
                        font-weight: 900;
                        font-size: 20px;                     
                   }     
                   .testo-ville {                    
                        margin: 5px;
                        font-size: 1rem;
                        font-family: "Roboto";      
                   } 
                }
            }
        }
    }
}



@mixin decouverte-restaurants-section {
    .decouvertes-restaurants {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $background-color-box;
        padding: 10px;
        &-titre {
            display: flex;
            justify-content: center;
            font-size: 20px;
            text-align: center;
            margin: 10px;
            font-weight: 900;
            font-family: $font-text;
        }
        &-accroche {
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 10px;
        }
    }
}

@mixin features-section {
    .fonctionnement {
        display: flex;
        flex-direction: column;
        padding: 10px;
        &-titre {
            display: flex;           
        }
        &-choix {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 100%;
            border: 0px solid;
            margin: 10px;
            padding: 10px 20px 10px 0;
            border-radius: 15px;
            background-color: $background-color-box;
            box-shadow: 0 4px 4px 4px $background-color-nav;
            position: relative;
            &-numero {
                display: flex;
                position: absolute;
                left: -14px;
                top: 20px;
                background-color: $primary-color;
                color: white;
                padding: 5px 10px;
                border-radius: 20px;
            }
            &-icône {
                // background-color: red;
                display: flex;
                justify-content: center;
                &-bloc {
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }


}
@mixin restaurants-section {
    .restaurants {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;        
        background-color: $background-color-box;
        &-titre {
                margin: 20px 0 10px 20px;
        }
        &-article {
            display: flex;
           background-color:white;
           display: flex;
           flex-direction: column;
           margin: 10px;
           border-radius: 20px;
           &-image {
            display: flex;
            justify-content: center;
            object-fit: cover;
            flex: 20%;
            border-radius: 20px 20px 0 0 ;
           }
           &-description {
            display: flex;
            padding: 5px;
            flex: 1 1 100%;
            justify-content: space-between;
            &-texte {
                .resto-nom {
                    margin: 5px;
                    font-family: $font-text;
                    font-weight: 900;
                    font-size: 20px;
                    // background-color: red;                    
                }
                .resto-ville {
                    margin: 5px;
                    font-size: 1rem;
                    font-family: $font-text;
                    
                }
            }
           }
        }
        
    }
}
@mixin heart__layout {
    
}