%titre-composition {
    font-family: "Roboto";
    font-weight: 400;
    
    border-bottom: 3px solid #99E2D0;
    width: 30px;
    padding: 0 10px 5px 0;
    margin: 10px;
}

%case-validation-composition {
    background-color: $thirth-color;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding: 10px;
    margin: -5px;
    border-radius: 0 20px 20px 0px;
}

%elements-footer {
    display: flex;
    align-items: center;
    margin: 5px 10px;
}
%footer-margin {
    margin: 5px 10px;
}