$primary-color: #9356DC ;
$secondary-color : #FF79DA; 
$thirth-color : #99E2D0;
$color-text-pop-up : #008766;

$background-color-nav : #EAEAEA;
$background-color-box: #F6F6F6;

$box-shadow-box: #F6F6F6;
$base-box-shadow-nav : #7E7E7E;


$font-logo-title: "Shrikhand";
$font-text:"Roboto";

$footer-background-color :#393939;