@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

$primary-color: #9356DC ;
$secondary-color : #FF79DA; 
$thirth-color : #99E2D0;
$color-text-pop-up : #008766;

$background-color-nav : #EAEAEA;
$background-color-box: #F6F6F6;

$box-shadow-box: #F6F6F6;
$base-box-shadow-nav : #7E7E7E;


$font-logo-title: "Shrikhand";
$font-text:"Roboto";

$footer-background-color :#393939;
$inactive-color: $base-box-shadow-nav;

$colored-button: linear-gradient($secondary-color, $primary-color)