body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 320px;
    main {
        display: flex;
        flex-direction: column;
        // align-items: center;
        margin: 0;


    }
}