footer {
    color: white;
    padding: 10px;
    background-color: $footer-background-color;
    @media (min-width: 768px) and (max-width: 2550px) {
        display: flex;
        flex-direction: row-reverse;
        padding: 10px;
        align-items: center;
        // padding: 20px 0;
        // width: 100%;
    }
.footer { 
        
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: flex-start;
    // margin: 20px 10px;

        @media (min-width: 768px) and (max-width: 2550px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    .footer .footer-logo {
        font-family: $font-logo-title;
        font-size: 1rem;
        margin: 10px;
        @media (min-width: 768px) and (max-width: 2550px) {
            order:-1 ;
            margin: 20px;
            padding: 5px 15px 5px 30px;
        }
    }

}
//////////////////////////////////////////////////////
    .footer-layout__whataboutus {
        margin: 20px 10px 0px 0;
        @media (min-width: 768px) and (max-width: 2550px) {

            margin: 20px 40px 0px 0;
        }
        &__restaurants {
            display: flex;
            align-items: center;
            margin: 5px 5px 5px 0px;
            &__ustensils {
                margin: 10px;
                @extend %footer-margin;
            } 
            &__thema {
                @extend %footer-margin;
            }   
        }        
        &__partenariat {
            display: flex;
            align-items: center;
            margin: 5px 5px 5px 0px;
            // color: red;
            &__handshake {
                margin: 10px;
                @extend %footer-margin;
            }
            &__thema {
                @extend %footer-margin;
            }
        }
        &__mentions-legales {
            @extend %footer-margin;
            list-style-type: none;
        }
        &__contact {
            color: white;
            @extend %footer-margin;
            margin: 20px 0;   
            list-style-type: none;
                    @media (min-width: 768px) and (max-width: 2550px) {
                        order: -1;
                        margin: 20px 5px 20px 20px;
                        padding: 5px 15px 5px 30px;
                    }  
                    .footer_mailingContact {
                        color: white;
                        font-size: 1rem;
                    }

        }

    }
// ici je vais faire un placeholder qui fera ca ici
    .footer-logo, .footer-restaurants, .footer-partenariat, .mentions-legales, .contact {
        display: flex;
        align-items: center;
    }    


}