footer {
    color: white;
    padding: 10px;
    background-color: $footer-background-color;
    @media (min-width: 768px) and (max-width: 1440px) {
        display: flex;
        flex-direction: row-reverse;
        // padding: 20px 0;
        align-items: center;
        // width: 100%;
    }
    .footer-logo {
        font-family: $font-logo-title;
        font-size: 1rem;
    }

    .footer-restaurants {
        // display: flex;
        // background-color: pink;
        // color: purple;
        // margin: 5px;
        align-items: center;
        &-ustensils {
            @extend %footer-margin;
        } 
        &-thema {
            @extend %footer-margin;
        }   
    }

    .footer-partenariat {
        color: burlywood;
        &-handshake {
            @extend %footer-margin;
        }
        &-thema {
            @extend %footer-margin;
        }
    }
    .mentions-legales {
        @extend %footer-margin;
    }
    .contact {
        @extend %footer-margin;        
    }
// ici je vais faire un placeholder qui fera ca ici
    .footer-logo, .footer-restaurants, .footer-partenariat, .mentions-legales, .contact {
        display: flex;
        align-items: center;
    }    


}