
.header-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 10px ;
    &__navigation {
        display: flex;
        flex-direction: row;
        // justify-content: space-around;
        // align-items: center;
        // flex-direction: row;        
        &__arrow {
            display: flex;
            // justify-content: center;
            align-items: center;
            font-size: 20px;
            padding: 0 20px 0 0;
            position: absolute;
            top: 10px;
            left: 0px;            
            
        }
        &__logo {
            display: flex;
            flex-direction: row;
            padding: 5px 35px;
            // width: 50%;
            height: 25px;
            // width: 30%;
        }    

    }
}