.main__photo {
    display: flex;
    justify-content: center;
    margin: 0;
    &__image {
        display: flex;
        object-fit: cover;
        width: 100%;
    }
}
.menu {
    background-color: $box-shadow-box;
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    padding: 10px;
    position: relative;
    top: -40px;
    border-radius: 35px 35px 0 0;
    margin-bottom: -40px;
    @media screen and (min-width: 768px) and (max-width:2550px) {
        width: 65%;
    }
    &__intro {       
        padding: 20px;    
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25px;
        @media screen and (min-width: 768px) and (max-width:2550px) {
            justify-content: center;
        }
        &__titre {
            font-family: $font-logo-title;
            font-weight: 100;
            margin: 10px;
            padding: 20px;
            
        }
        &__like {
            // mettre ce code en mixin
            display: flex;
            flex-direction: column;
            justify-content: center;
            width:  10%;
            font-size: 25px;
            .empty {
                &:active {
                    display: none;
                }                                                                                                
                &:active + .full {
                    display: flex;
                }                                                                                                
            }
            .full {
                display: none;
                color: $primary-color;
                background: linear-gradient(180deg, rgba(162,91,220,1) 5%, rgba(229,113,219,1) 95%);        
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
                &:hover > .empty {
            display: none;
            }
            &:hover > .full {
            display: flex;
            }

        }
    }

}