.main__photo {
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
    // top: 45px;
    &__image {
        margin: 2px;
        display: flex;
        object-fit: cover;
        width: 100%;
    }
}
.menu {
    background-color: $box-shadow-box;
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    padding: 10px;
    position: relative;
    top: -40px;
    border-radius: 35px 35px 0 0;
    // z-index: 0;
    &__intro {       
        padding: 10px;    

        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25px;
        &__titre {
            font-family: $font-logo-title;
            font-weight: 100;
            font-size: 20px;
        }
        &__like {
            // mettre ce code en mixin

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:  10%;
            padding: 20px;
            font-size: 20px;
            position: relative;
            left: 20px;
        }
    }
}