.menu__entrees {
    display: flex;
    flex-direction: column;
    padding: 0 10px;    

    &__titre {
        @extend %titre-composition;
    }
    &__choix {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        margin:10px;  
        box-shadow: 0px 2px 5px 5px $background-color-nav;             
        overflow: hidden;
        
        &:hover {
            cursor: grab;
        }
        &:hover > .entrees__choix__valide-ok {
            display: flex;
            animation-name: come-in;
            animation-duration: 2000ms;
            animation-fill-mode: both;
            animation-delay: 500ms;
            animation-timing-function: ease-in-out;
            animation-direction:alternate;
            // animation: come-in 2s ease-in-out 0 infinite fill-mode;
        }   

        &:hover > .entrees__choix__prix {
            animation-name: price-in;
            animation-duration: 2000ms;
            animation-fill-mode: both;
            animation-delay: 500ms;
            animation-timing-function: ease-in-out;
            animation-direction:alternate;
        }

        .entrees__choix__description {
            display: flex;
            flex-direction: column;
            flex: 70%;
            padding: 0 5px;
            overflow: hidden;
            &__nom {
                font-family: $font-logo-title;
                margin: 5px;
                font-family: "Roboto";
                font-weight: 900;
                font-size: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }   
            &__accompagnement {
                margin: 5px;
                
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;                
            } 
        }
        .entrees__choix__prix {
            display: flex;
            justify-content: center;
            align-items: end;
            margin: 5px 20px;            
            font-weight: 900;

            @include price-moves;
        }
        .entrees__choix__valide-ok {
            // @extend %case-validation-composition;
            @include case-validation-composition;
        }
    }
}