.footer-layout {
    color: white;
    padding: 10px 20px;
    background-color: $footer-background-color;
    @media (min-width: 768px) and (max-width: 2550px) {
        display: flex;
        flex-direction: row-reverse;
        padding: 10px;
        align-items: center;
        // width: 100%;
    }
    &__logo {
        font-family: $font-logo-title;
        font-size: 1rem;
        
        // margin: 15px 20px;
        @media (min-width: 768px) and (max-width: 2550px) {
                    margin: 20px 20px 0px 20px;
        }
    }

    .footer-layout__whataboutus {
        display: flex;
        flex-direction: column;    
        margin: 20px 10px 0px 0;
        @media (min-width: 768px) and (max-width: 2550px) {
            flex-direction: row;
            margin: 20px 40px 0px 0;
        }
        .footer-layout__whataboutus__restaurants {
            display: flex;
            align-items: center;
            .footer-layout__whataboutus__restaurants__ustensils {
                @extend %footer-margin;
            } 
            .footer-layout__whataboutus__restaurants__thema {
                @extend %footer-margin;
            }   
        }
        
        .footer-layout__whataboutus__partenariat {
            display: flex;
            align-items: center;
            margin: 5px 5px 5px 0px;
            // color: red;
            &__handshake {
                @extend %footer-margin;
            }
            &__thema {
                @extend %footer-margin;
            }
        }
        .footer-layout__whataboutus__mentions-legales {
            @extend %footer-margin;
        }
        .footer-layout__whataboutus__contact {
            @extend %footer-margin;        
        }

    }
        
        
        // ici je vais faire un placeholder qui fera ca ici
    .footer-logo, .footer-restaurants, .footer-partenariat, .mentions-legales, .contact {
        display: flex;
        align-items: center;
    }    


}