
.footer {
    color: white;
    padding: 10px 20px;
    background-color: $footer-background-color;
    @media (min-width: 768px) and (max-width: 2550px) {
        display: flex;
        flex-direction: row-reverse;
        padding: 0px;
        align-items: center;
        // width: 100%;
  
     .footer-logo {
        font-family: $font-logo-title;
        font-size: 1rem;
        margin: 10px;        
        // color: red;
        // margin: 15px 20px;
        @media (min-width: 768px) and (max-width: 2550px) {
            margin: 20px 20px 0px 20px;
            // order:-2 ;
            margin: 20px;
        }
    }
     } 
/////////    }//////////////////////////////////////////
    .footer-layout__whataboutus {
        margin: 20px 10px 0px 0;
        padding: 0;
        @media (min-width: 768px) and (max-width: 2550px) {

            margin: 20px 40px 0px 0;
            display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        }
        &__restaurants {
            display: flex;
            align-items: center;
            margin: 5px 5px 5px 0px;
            &__ustensils {
                margin: 10px;
                @extend %footer-margin;
            } 
            &__thema {
                @extend %footer-margin;
            }   
        }        
        &__partenariat {
            display: flex;
            align-items: center;
            margin: 5px 5px 5px 0px;
            // color: red;
            &__handshake {
                margin: 10px;
                @extend %footer-margin;
            }
            &__thema {
                @extend %footer-margin;
            }
        }
        &__mentions-legales {
            @extend %footer-margin;
            margin: 10px;
            list-style-type: none;
        }
        &__contact {
            color: white;
            @extend %footer-margin;
            margin: 30px;   
            list-style-type: none;
                    @media (min-width: 768px) and (max-width: 2550px) {
                        order: 0;
                        margin: 20px 5px 20px 20px;
                        padding: 5px 15px 5px 30px;
                    }  
                    .footer_mailingContact {
                        color: white;
                        font-size: 1rem;
                        position: relative;
                        right: 20px;
                    }
        }
    }
// ici je vais faire un placeholder qui fera ca ici
    .footer-logo, .footer-restaurants, .footer-partenariat, .mentions-legales, .contact {
        display: flex;
        align-items: center;
        position: relative;
        right: -10px;
    }    


}