.icone-color {
    
    
    display: flex;
    justify-content: center;
    
    position: relative;
    right: 6px;
    bottom: 1px;
    margin: 0px 0px 0 0;
                        @media screen and (min-width:320px) and (max-width:768px) {
                        right: 15px;
                        }
}
.inactive-icone {
color: $base-box-shadow-nav;
}
.icone-icolored {
    color: $primary-color;
    
}
.heart {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    right: 10px;
    font-size: 25px;

}
.restaurants-article-description-like {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    right: 10px;
    font-size: 25px;

    .empty {
        display: flex;
    }
    .full {
        display: none;
        color: $primary-color;
        background: linear-gradient(180deg, rgba(162,91,220,1) 5%, rgba(229,113,219,1) 95%);        
        background-clip: text;
        -webkit-text-fill-color: transparent;
        //-webkit-background-clip: text;
        
    }
    &:hover > .empty {
        display: none;
    }
    &:hover > .full {
        display: flex;
    }
}