.icone-color {
    color: $primary-color;

    display: flex;
    justify-content: center;

    position: relative;
    right: 8px;
    margin: 0px 2px 0 0;
}
.heart {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    right: 10px;
    font-size: 25px;

}
.restaurants-article-description-like {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    right: 10px;
    font-size: 25px;
   
    // .empty {
    //     display: flex;
    // }
    #here {
        display: flex;
        background-color: red;           
    }
    .empty {
        display: flex;

        &:hover {
            display: none;
        }
        &:hover + .full {
            display: flex;
        } 
        // &:active {
        //     display: flex;
        //     color: $primary-color;
        //     background: linear-gradient(180deg, rgba(162,91,220,1) 5%, rgba(229,113,219,1) 95%);
        // }
    }
    .full {
        display: none;
        color: $primary-color;
        background: linear-gradient(180deg, rgba(162,91,220,1) 5%, rgba(229,113,219,1) 95%);        
        background-clip: text;
        -webkit-text-fill-color: transparent;

        // background: rgb(162,91,220);
        // color: linear-gradient(180deg, rgba(162,91,220,1) 5%, rgba(229,113,219,1) 95%);
        // background-color: red;
        // background-image: linear-gradient(0deg, #9356DC, #FF79DA);
           
        // background-clip-text a regarder sur mdn pour comprendre
        //  mais pour commencer son webkit ne marche pas 
        //-webkit-background-clip: text;
        
    }

}