.icone-color {    
    display: flex;
    justify-content: center;    
    position: relative;
    right: 11px;
    bottom: 1px;
    margin: 0px 0px 0 0;
    @media screen and (min-width:320px) and (max-width:768px) {
    right: 15px;
    }
}
.inactive-icone {
    color: $base-box-shadow-nav;
}
.icone-icolored {
    color: $primary-color;    
}
.icone-fulling {
    
}
.heart {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    right: 10px;
    font-size: 25px;
}
.restaurants-article-description-like {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    right: 10px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    margin: 25px;
    transform: scaleY(1.14);
    .empty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        z-index: 1;    
    }
    .full {
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        color: $primary-color;
        background: linear-gradient(180deg, rgba(162,91,220,1) 5%, rgba(229,113,219,1) 95%);        
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;        
    }
    &:hover > .empty {
        //display: none;
        animation: heartApear 1s ease-in-out 0s 1 normal forwards;
    }
    &:hover > .full {
        //transform: scale(1.10) ;
        animation: heartDispear 1s ease-in-out 0s 1 normal forwards;
    }

    

}

@keyframes heartApear {
    0% {
        opacity: 1;
        z-index: 1;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

@keyframes heartDispear {
    0% {
        opacity: 0;
        z-index: 0;
    }
    100% {
        opacity: 1;
        z-index: 1;
    }
}