.loading-page {
// c est ici que, j eteinds la page de loading quand pas besoin 
    display: none;
    
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
    min-width: 320px;
    height: 2000px;
    background: white;
    position: absolute;
    z-index: 2;
    transform:  translateY(0px);
    animation: coming-page 4s ease-in-out both;

    // ------------------------------------- KEYFRAMES PAGE PRINCIPALE ----------------------

        @keyframes coming-page {
        0% {
            opacity: 0;
            z-index: 1;
            position: absolute;
            // transform: translateY(50px);
        }
        10% {
            opacity: 1;
            transform: translateY(0px);
        }
        50% {
            // transform: translateY(-500px);
            opacity: 1;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            z-index: 1;
            transform: translateY(100px);
        }
    }
    // ------------------------------------- KEYFRAMES PAGE PRINCIPALE ----------------------

    &__spinner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        opacity: 0.81;
        flex: 90%;
        width: 80%;
        height: 500px;
        margin: 10px;
        &__font {

        }
    }
}