.menu__plats {
    padding: 0 10px;

    display: flex;
    flex-direction: column;

    &__titre {
        @extend %titre-composition;
    }
    &__choix {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        margin:10px;  
        box-shadow: 0px 2px 5px 5px $background-color-nav;     
        
        // position: relative;
        overflow: hidden;
        &:hover {
            overflow: hidden;
        }
        &:hover > .plats__choix__valide-ok {
            display: flex;
            animation-name: come-in;
            animation-duration: 2000ms;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            
        }

        .plats__choix__description {
            display: flex;
            flex-direction: column;
            flex: 70%;
            padding: 0 5px;

            overflow: hidden;
            &__nom {
                font-family: $font-logo-title;
                margin: 5px;
                font-family: "Roboto";
                font-weight: 900;
                font-size: 20px;
                
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }   
            &__accompagnement {
                margin: 5px;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;                
            } 
        }
        .plats__choix__prix {
            display: flex;
            justify-content: center;

            align-items: end;

            margin: 5px 20px;
            // padding: 0px 10px 5px 0;

            // position: relative;
            // top: 15px;
            font-weight: 900;
        }
        .plats__choix__valide-ok {
            // @extend %case-validation-composition;
            @include case-validation-composition;
        }
    }
}